<div class="alert alert-warning fade in">
<h4 class="alert-heading">Estimado propietario(a) {{ session.usuario.nombre }}: Su cuenta ha sido
    pasada a Cobranza Extrajudicial. No representa ninguna arbitrariedad de la Junta de Condominio
y/o Administración imputarle los honorarios de abogados, puesto que es su mora la causa legal
de los mismos</h4>
<h4>Le agradecemos ponerse en contacto a la brevedad posible con nuestros abogados</h4>
<!--Escríbanos al correo <strong>cobranzas@grupoveneto.com</strong><br /-->
Contáctenos al teléfono: <strong>0412-3884562  0234-3424789</strong><br />
Correo:<strong>odcondominios2@hotmail.com</strong>
<strong>Dése por notificado de esta comunicación.</strong>
</div>