
a, .text-default {
    color: FF00FF;
}
a:hover, a:focus {
    color: #c86384;
}
mark, .mark {
    background-color: FF00FF;
    color: #ffffff;
}
.table > thead > tr > th {
    background-color: FF00FF;
    border-bottom: 1px solid FF00FF;
    color: #fff;
}
.table-bordered {
    border-color: FF00FF;
}
.default-bg {
    background-color: FF00FF;
    color: #ffffff;
}
.default-translucent-bg::after {
    background-color: rgba(219, 112, 147, 0.7);
}
.blogpost .post-info {
    background-color: FF00FF;
    color: #fff;
}
.blogpost .side .social-links li a {
    background-color: transparent;
    border-color: transparent;
    color: FF00FF;
}
.blogpost ul.links li a:hover {
    color: FF00FF;
}
.timeline-date-label {
    color: FF00FF;
}
@media (min-width: 768px) {
.timeline .timeline-item::before {
    background-color: #fff;
    border: 1px solid FF00FF;
}
}
.btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray.active, .open .dropdown-toggle.btn-gray {
    background-color: FF00FF;
    border-color: FF00FF;
    color: #ffffff;
}
.btn-light-gray:hover, .btn-light-gray:focus, .btn-light-gray:active, .btn-light-gray.active, .open .dropdown-toggle.btn-light-gray {
    background-color: FF00FF;
    border-color: FF00FF;
    color: #ffffff;
}
.btn-default {
    background-color: FF00FF;
    border-color: #c86384;
    color: #fff !important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #c86384;
    border-color: #c86384;
    color: #fff !important;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default {
    background-color: #c86384;
    border-color: #c86384;
}
.btn-white {
    background-color: transparent;
    border: 1px solid FF00FF;
    color: #c86384;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    background-color: #c86384;
    border-color: #c86384;
    color: #fff;
}
.default-bg .form-control {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: FF00FF;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35) inset;
    color: #ffffff;
}
.default-bg .form-control:focus {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: FF00FF;
}
.default-bg .input-group-addon {
    background-color: #c86384;
    border-color: FF00FF;
    color: #fff;
}
.dropdown .active > a > .badge, .dropdown a:hover .badge, .dropdown .open > a > .badge {
    border-color: FF00FF;
}
ul.pagination li > a:hover {
    background-color: FF00FF;
    border-color: FF00FF;
    color: #ffffff;
}
ul.pagination li.active a, .pagination > .active > a:hover, .pagination > .active > a:focus {
    background-color: FF00FF;
    border-color: FF00FF;
    color: #ffffff;
}
.nav-tabs > li.active > a::after {
    background-color: FF00FF;
}
.tab-content::after {
    background-color: FF00FF;
}
@media (max-width: 480px) {
.nav-tabs > li > a:hover::after {
    background-color: FF00FF;
}
}
.tabs-style-2 .nav-tabs {
    border-bottom: 1px solid FF00FF;
}
.tabs-style-2 .nav-tabs > li.active > a, .tabs-style-2 .nav-tabs > li.active > a:hover, .tabs-style-2 .nav-tabs > li.active > a:focus, .tabs-style-2 .nav-tabs > li > a:hover {
    background-color: FF00FF;
    border: 1px solid FF00FF;
    color: #fff;
}
.vertical .nav-tabs > li > a:hover::after {
    background-color: FF00FF;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    background-color: #fafafa;
    border: 1px solid #f3f3f3;
    color: FF00FF;
}
.nav-pills > li.active > a::after {
    color: FF00FF;
}
.nav-pills > li.active > a:hover::after, .nav-pills > li.active > a:focus::after, .nav-pills > li > a:hover::after, .nav-pills > li > a:focus::after {
    color: FF00FF;
}
.light .footer-content .nav-pills > li.active > a:hover, .light .footer-content .nav-pills > li > a:hover {
    color: #c86384;
}
.nav-pills > .active > a > .badge {
    background-color: #fff;
    border-color: FF00FF;
    color: FF00FF;
}
.panel-heading a {
    background-color: FF00FF;
    color: #ffffff;
}
.panel-heading a:hover, .panel-transparent .panel-heading a:hover {
    background-color: FF00FF;
    color: #ffffff;
}
.progress-bar-default {
    background-color: FF00FF;
}
.modal-content .modal-header {
    background-color: FF00FF;
}
.overlay a {
    background-color: #ffffff;
    color: FF00FF;
}
.overlay-links a + a {
    background-color: FF00FF;
    color: #ffffff;
}
a.overlay i {
    color: FF00FF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: FF00FF;
}
.main-navigation .navbar-nav > .open > a, .main-navigation .navbar-nav > .open > a:hover, .main-navigation .navbar-nav > .open > a:focus {
    background-color: #fafafa;
    color: #666666;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu .menu > .active > a, .dropdown-menu .menu > .active > a:hover, .dropdown-menu .menu > .active > a:focus {
    background-color: #ffffff;
    border-color: #f1f1f1;
    color: FF00FF;
}
#offcanvas .nav .open > a, #offcanvas .nav .open > a:hover, #offcanvas .nav .open > a:focus, #offcanvas .nav > li > a:hover, #offcanvas .nav > li > a:focus, #offcanvas .navbar-nav > li.active > a {
    background-color: #ffffff;
    color: FF00FF;
}
.mega-menu .menu > li > a:hover, .mega-menu .menu > li > a:focus {
    background-color: #ffffff;
    border-color: #f1f1f1;
    color: FF00FF;
}
.navbar-default .navbar-nav > .active.dropdown > a::before {
    color: FF00FF;
}
.navbar-default .navbar-nav > .dropdown.open > a::before {
    color: #e5e5e5;
}
.dropdown .dropdown.open > a::before, .transparent.header:not(.dark) .dropdown .dropdown.open > a::before {
    color: FF00FF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fafafa;
    border-color: FF00FF;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: FF00FF;
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: transparent;
    color: FF00FF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: FF00FF;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: FF00FF;
}
}
.subfooter .navbar-default .nav > li > a:hover, .subfooter .navbar-default .nav > .active > a:hover, .subfooter .navbar-default .nav > .active > a:focus {
    background-color: transparent;
    color: FF00FF;
}
.box.gray-bg:hover {
    color: FF00FF;
}
.box.default-bg:hover {
    background-color: #fff;
    border: 1px solid FF00FF;
}
.box.default-bg:hover * {
    color: FF00FF;
}
.box-style-1:hover:not(.team-member) i {
    color: FF00FF;
}
.box-style-1.default-bg:hover i, .box-style-1.dark-bg:hover i {
    color: inherit;
}
.box-style-2:hover .default-bg {
    background-color: #fff;
    border: 1px solid FF00FF;
}
.box-style-2:hover .default-bg * {
    color: FF00FF;
}
.box-style-2:hover .white-bg * {
    color: FF00FF;
}
.box-style-3:hover .default-bg {
    background-color: #fff;
    border: 1px solid FF00FF;
}
.box-style-3:hover .default-bg * {
    color: FF00FF;
}
.box-style-3:hover .white-bg * {
    color: FF00FF;
}
.tag a:hover {
    background-color: FF00FF;
    border-color: FF00FF;
    color: #ffffff;
}
.social-links li a {
    background: FF00FF none repeat scroll 0 0;
    border: 1px solid FF00FF;
    color: #fff;
}
.social-links li a:hover {
    background-color: transparent;
    border-color: #c86384;
    color: #c86384;
}
.social-links .dropdown.open > button > i::before {
    color: FF00FF;
    content: "ï€";
}
.header-top .social-links li a:hover {
    color: #c86384;
}
.header-top-dropdown .dropdown.open > button, .header-top-dropdown .dropdown > button:hover {
    color: FF00FF;
}
.plan .popover-title {
    background-color: FF00FF;
    color: #ffffff;
}
.gray .plan .header h3 {
    color: FF00FF;
}
.white .plan .header {
    background: FF00FF none repeat scroll 0 0;
    color: #fff;
}
.stripped .header {
    background: FF00FF none repeat scroll 0 0;
    box-shadow: 0 0 60px #c86384 inset;
    color: #fff;
}
.default_bg {
    background-color: FF00FF;
    color: #fff;
}
.tparrows.round:hover {
    background-color: FF00FF;
    color: #ffffff;
}
.tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected {
    background-color: FF00FF;
}
.tp-bannertimer {
    background-color: rgba(219, 112, 147, 0.7);
}
.owl-prev {
    background-color: FF00FF;
    color: #f1f1f1;
}
.owl-next {
    background-color: #f1f1f1;
    color: FF00FF;
}
.content-slider-with-controls .owl-buttons div, .content-slider-with-controls-autoplay .owl-buttons div {
    background-color: FF00FF;
    color: #f1f1f1;
}
.content-slider-with-controls .owl-prev:hover, .content-slider-with-controls .owl-next:hover, .content-slider-with-controls-autoplay .owl-prev:hover, .content-slider-with-controls-autoplay .owl-next:hover {
    background-color: #f1f1f1;
    color: FF00FF;
}
.owl-controls .owl-page.active span, .owl-controls.clickable .owl-page:hover span {
    background: FF00FF none repeat scroll 0 0;
}
